body{
 	 background-color:#D7DBDD;
}

.margen{
		margin-top:2%;
		margin-left:10%;
		margin-right:10%;
		margin-bottom:10%;
		
}
.stl-1{
		font-size:300%;
		color:#34495E;
		font-family: "Broadway";
		font-weight: bold;
		font-style: italic; 
}
